<!DOCTYPE html>
<html lang="{{ app.request.locale|default('fr') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{{ asset('favicon.jpg') }}">

    <title>{% block title %}{{ 'home.meta.title'|trans }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{{ 'home.meta.description'|trans }}{% endblock %}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body>

{% include 'components/_lang_switcher.html.twig' %}
{% include 'components/_theme_switcher.html.twig' %}

{% block body %}{% endblock %}

{% block importmap %}{{ importmap('app') }}{% endblock %}

</body>
</html>
