<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="{{ app.request.locale|default('fr') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('favicon.ico') }}" sizes="any">

    <title>{% block title %}{{ 'home.meta.title'|trans }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body>

{% include 'components/_site_header.html.twig' %}

{% block body %}{% endblock %}

{% include 'components/_site_footer.html.twig' %}

{% block importmap %}{{ importmap('app') }}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>
